.projects {
  background: #0f172a;
  color: white;
  padding: 90px 8%;
}

.projects-title {
  text-align: center;
  margin-bottom: 60px;
}

.projects-title h1 {
  color: #38bdf8;
  font-size: 2.8rem;
}

.projects-title p {
  color: #cbd5e1;
  margin-top: 15px;
}

.projects-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;

  transition: .3s;

  border: 1px solid #334155;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
}

.project-content h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.project-content p {
  color: #d1d5db;
  line-height: 1.7;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tech-stack span {
  background: #334155;
  color: #38bdf8;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: .85rem;
}

.project-links {
  display: flex;
  gap: 20px;
}

.project-links a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: .3s;
}

.project-links a:hover {
  color: #38bdf8;
}

@media (max-width:768px){

.projects-grid{
grid-template-columns:1fr;
}

}